body {
    text-align: center;
}
.container {
    margin: 0 auto;
    width: 90%;
}
.mainContent {
    width: 100%;
    display: inline-block;
    text-align: center;
}
nav{
  text-align: center;
}
.mainNav li {
    list-style: none;
}
.sideBar li {
    list-style: none;
}
header img{
  max-width: 8em;
  padding-left: 2%;
  border-radius: 15px;
}
