/*Header*/
header img {
    max-width: 12em;
    float: left;
}
header h1 {
    display: inline-block;
}
header h3 {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}
/*Nav*/
.mainNav li {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}
.mainNav img {
  max-width: 3em;
}

/*Content*/
.mainContent {
    width: 100%;
    text-align: left;
}
