html{
    font-family: 'Work Sans', sans-serif;
}
body {
    text-align: center;
}
header{
  color: black;
  background-color: #FF6600;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

footer{
  text-align: center;
  border-top: 1px solid black;
  padding-top: 1em;
}

p{
  padding: .5em;
}

nav{
  display: inline-block;
}
