body {
    text-align: center;
}
header{
  background-color: #664C40;
}
.mainContainer{
  background-color: #A78B7D;
}
.container {
    margin: 0 auto;
    width: 90%;
}
.clearFloat{
  clear: both;
}
